h1 { color: #900; font-size: 16pt;/* trivial */  }

a.trivial {color: #C55;/* trivial */}

#slide_effect-back {
	width: 100%;/* trivial */
	font: 12pt arial,sans-serif,helvetica,verdana;/* trivial */ 
	color: #666;//trivial
}

img {
	width: 100%;
	border-radius: 8px;
}

#slide_effect-back * {
	box-sizing: border-box;
}

#slide_box {
	width: 500px;/*any relative or absolute*/
	position: relative;
	background-color: #FFF;
}

#slide_corner-box {  /* edit these sizes for the default revealing corner size */
	height: 0px;
	width: 0px;
	left: 0;
	top: 0;
	position: absolute;
	overflow: visible;
}
#slide_box:hover #slide_corner-box { /* edit corner size (First animation, when the whole page is rollovered) */
	height: 50px;
	width: 50px;
}

#slide_corner-box:before {
	position: absolute;
	top: 0;
	left: : 0;
	content: "";
	display: block;
	width: 133%;
	height: 133%;
}

#slide_page-tip {
	position: absolute;
	top: 0;
	right: 0;
	content: "";
	background: -webkit-linear-gradient(135deg, rgb(70, 199, 117) -100%, #94d49d 200%);
	display: block;
	width: 100%;
	height: 100%;
	border-bottom-right-radius: 6px;
	border-top-left-radius: 6px;
}

#slide_corner-button {
	position: absolute;
    width: 7em;
    top: 0;
    left: 0px;
    color: rgb(8, 8, 8);
    font-family: Verdana, Geneva, sans-serif;
    text-align: left;
    padding: 0px 5px;
    border-radius: 5px;
    display: inline-block;
    font-size: 20px;
}

#slide_corner-contents {
	width: 100%;
	position: absolute;
	display: block;
	overflow: hidden;
	-webkit-mask: -webkit-linear-gradient(135deg, transparent 49%, #000 53%);
	mask: linear-gradient(135deg, transparent 49%, #000 53%);
	top: 0;
	left: 0;
	height: 100%;
	border-top-left-radius: 5px;
}
#slide_corner-contents:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	content: "";
	display: block;
	width: 100%;
	height: 100%;
	background-color: #eeeef4; /* Match this background color to #slide_effect-back */
}
#slide_corner-box, #slide_corner-contents, #slide_page-tip {
	-webkit-transition-property: all;
	-webkit-transition-duration: .3s;
	-webkit-transition-timing-function: cubic-bezier(0, 0.35, .5, 1.7);
}
#slide_corner-button strong {
	font-size: 13px;
	font-weight: bold;
	display: block;
}

div#bx-pager a img{
	    width: 100px;
    float: left;
}

.thumbnail-slider {
	/*width: 300px;*/
    height: 100px;
    margin: 0 auto;
}

#draggable { 
    width: 100px;
    height: 90px;
    padding: 0.5em;
    /* float: left; */
    border: 2px solid black;
    border-radius: 3px;
    background: rgba(255, 255, 255, .1);
    left: 0px;
    top: 0px;
}

div#bx-pager a img{
	 -webkit-filter: opacity(10%); /* Safari 6.0 - 9.0 */
    filter: opacity(10%);
}

div#bx-pager a img.img-visiting{
	 -webkit-filter: opacity(100%); /* Safari 6.0 - 9.0 */
    filter: opacity(100%);
}

#bx-pager ul {
	list-style: none;
	float: left;
    width: 100%;
    padding: 0px;
        margin: 0;
    margin-top: 10px;
}

.slider-custom {
	width: 600px;
	margin: 0 auto;
	    height: 400px;
}

#bx-pager ul li {
	float: left;
}

#bx-pager ul li:nth-child(3n+1) {
    margin-bottom: 10px;
}

#bx-pager ul li:nth-child(3n+2) {
    margin-top: 10px;
}